.App {
  text-align: center;
}

.site-page-header-ghost-wrapper {
  background-color: #f5f5f5;
  padding: 24px;
}

#submit-button {
  width: 35%;
  font-weight: bold;
}

.text-input-fields {
  width: 50%;
  align-items: center;
}

.form-labels {
  font-weight: bold;
}
.loading-spinner {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 30px 50px;
  margin: 20px 0;
}

.ant-table-title {
  font-weight: bold;
}
